body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background: #234465;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}